<h2 class="text-center">Product List</h2>
<div class="card">
    <div class="card-body">
        <ul class="list-group">
            <li class="list-group-item d-flex justify-content-between" *ngFor="let p of productList">
                <strong>{{p.pName}}</strong>
                <div>
                    <button class="btn btn-sm btn-outline-info mr-3">Edit</button>
                    <button class="btn btn-sm btn-outline-danger">Remove</button>
                </div>
            </li>
        </ul>
    </div>
</div>